.details {
  font-family: $font-prompt;
}

.details::before {
  background-color: #0D3E22;
  width: 100%;
  height: 500px;
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  top: 70px;

}

.details .container {
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 7px 10px -5px;
  position: relative;
  margin-top: 50px;

}

.details-title {
  font-family: $font-prompt;
  font-weight: $semi-bold;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.details-title::after {
  border: 1px solid #6FCF97;
  width: 1058px;
  content: "";
  display: block;
  margin-top: 20px;
}

.details-text {
  font-family: $font-prompt;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  padding: 0 60px;
}

.details-text2 {
  font-family: $font-prompt;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 25px 60px 0 60px;
}

.details-box-img {
  border-radius: 10px;
  height: 750px;
  width: 750px;
  margin: 50px 155px;
}

.details-ingredients {
  font-family: $font-prompt;
  font-weight: 500;
  font-size: 18px;
  padding: 20px 155px;
  text-align: center;
  color: white;
}

.details-ingredients-all {
  font-family: $font-prompt;
  font-weight: 400;
  font-size: 16px;
  padding: 0 155px 25px 155px;
  text-align: center;
  color: white;
}

.details-proces {
  font-family: $font-prompt;
  font-weight: 500;
  font-size: 18px;
  padding: 20px 155px;
}

.details-proces-li {
  font-family: $font-prompt;
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 50px;

}

.details-proces-li li {
  padding: 0 155px 15px 155px;
}

.details-green-box {
  background-color: $color-green;
}


@media (max-width: 425px) {
  .container {
    width: 400px;
  }

  .details-box-img {
    height: 330px;
    width: 330px;
    margin: 30px 35px;
  }

  .details-title::after {
    width: 398px;
  }

  .details-text {
    padding: 0 35px;
  }

  .details-text2 {
    padding: 25px 35px 0 35px;
  }

  .details-ingredients-all {
    padding: 0 35px 25px 35px;
  }

  .details-proces {
    padding: 20px 35px;
  }

  .details-proces-li {
    padding-bottom: 35px;

  }

  .details-proces-li li {
    padding: 0 35px 15px 35px;
  }

}

@media (max-width: 768px) {
  .container {
    width: 700px;
  }

  .details-box-img {
    height: 580px;
    width: 580px;
    margin: 30px 60px;
  }

  .details-title::after {
    width: 398px;
  }

  .details-text {
    padding: 0 60px;
  }

  .details-text2 {
    padding: 25px 60px 0 60px;
  }

  .details-ingredients-all {
    padding: 0 60px 25px 60px;
  }

  .details-proces {
    padding: 20px 60px;
  }

  .details-proces-li {
    padding-bottom: 60px;

  }

  .details-proces-li li {
    padding: 0 60px 15px 60px;
  }

}
