.form {
  background-color: $color-grey;
}

.form .container{
  height: 500px;
  width: 1060px;
  margin-top: 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 7px 10px -5px;
}

.form-title {
  font-family: $font-prompt;
  font-weight: $semi-bold;
  font-size: 30px;
  text-align: center;
  margin-top: 18px;
}