.form {
  background-color: $color-grey;
  font-family: $font-prompt;
}

.form .container{
  height: 500px;
  width: 1060px;
  margin-top: 60px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 7px 10px -5px;
}

.form-title {
  font-family: $font-prompt;
  font-weight: $semi-bold;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.form-title::after {
  border: 1px solid #6FCF97;
  width: 1060px;
  content: "";
  display: block;
  margin-top: 20px;
}

.form-inputs{
  display: flex;
  align-items: center;
  justify-content: center;
}