.header {
  height: 70px;
  font-family: $font-prompt;
  font-weight: $medium;
  background-color: white;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.header .header-logo{
  height: 40px;
  width: 180px;
  margin-top: 15px;
  margin-left: 50px;
}


.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-element {
  padding: 0 50px;

}

.nav-link {
  color: $color-black;
}

