.recipes {
  font-family: $font-prompt;
  background-color: $color-grey;
}

.recipes .container {
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 7px 10px -5px;
}

.recipes-text {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recipes-text-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipes-text-left p:nth-child(1) {
  padding-right: 30px;
  font-size: 18px;
  font-weight: $medium;
}

.recipes-text-left p:nth-child(2) {
  padding-right: 15px;
  font-size: 16px;
  font-weight: $bold;
  color: $color-green;
}

.recipes-text-left p:nth-child(3) {
  padding-right: 15px;
  font-size: 16px;
  font-weight: $regular;
  color: $color-dark-grey;
}

.recipes-text-right p:nth-child(1) {
  padding-right: 30px;
  font-size: 18px;
  font-weight: $medium;
}

.recipes-text-right p:nth-child(2) {
  padding-right: 15px;
  font-size: 16px;
  font-weight: $bold;
  color: $color-green;
}

.recipes-text-right p:nth-child(3) {
  font-size: 16px;
  font-weight: $regular;
  color: $color-dark-grey;
}


.recipes-text-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipes-text {
  padding: 0 30px;
}

.recipes-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 12px;
}

.rec {
  height: 330px;
  width: 330px;
  border-radius: 10px;
  position: relative;
  background-color: #0D3E22;
  overflow: hidden;
  margin: 10px;
}

.rec-box {
  height: 330px;
  width: 330px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  transition: top .4s ease-in-out;
  top: 235px;

  &:hover {
    top: 0;
  }
}

.rec-name {
  font-weight: 500;
  font-size: 24px;
  padding: 25px;
}

.rec-description {
  font-weight: 500;
  font-size: 16px;
  padding: 35px 25px 25px 25px;

}

.rec-more {
  margin: 25px;
  font-size: 16px;
  font-weight: $bold;
  color: $color-green;
}

.rec-category {
  font-size: 18px;
  font-weight: 300;
  padding: 25px;
  margin-top: 30px;
}

.rec-img {
  max-width: 100%;
}

//MEDIA QUERIES

@media screen and (max-width: 400px) {


}