.search .container{
  width: 1060px;
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 7px 10px -5px;
  font-family: $font-prompt;
}
.search-text {
  padding-bottom: 25px;
}

.search-title {
  font-family: $font-prompt;
  font-weight: $semi-bold;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.search-title::after {
  border: 1px solid #6FCF97;
  width: 1058px;
  content: "";
  display: block;
  margin-top: 20px;
}

.search p{
  font-size: 20px;
  font-weight: $medium;
  display: inline;
  padding-left: 30px;
}

.search a {
  font-size: 20px;
  font-weight: 400;
  color: $color-dark-grey;
  padding-left: 20px;
  cursor: pointer;
}

.search{
  a:hover, a:active, a.active {
    color: $color-green;
    //font-weight: 500;
  }
}

@media (max-width: 425px) {
  .search .container {
    width: 400px;
  }

  .search-title::after {
    width: 398px;
  }

  .search-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .search p{
    padding-left: 0;
    margin-bottom: 3px;
  }
  .search a {
    padding-left: 0;
    margin: 5px 0;
  }

  .search a:last-child{
    margin-bottom: 20px;
  }
}

@media (min-width:426px) and (max-width: 768px) {
  .search .container {
    width: 700px;
  }

  .search-title::after {
    width: 698px;
  }

  .search p{
    padding-left: 15px;
  }
  .search a {
    padding-left: 19px;
  }
  .search-text {
    padding-bottom: 25px;
  }
}