.search .container{
  height: 150px;
  width: 1060px;
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 7px 10px -5px;
  font-family: $font-prompt;
}

.search-title {
  font-family: $font-prompt;
  font-weight: $semi-bold;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.search-title::after {
  border: 1px solid #6FCF97;
  width: 1058px;
  content: "";
  display: block;
  margin-top: 20px;
}

.search p{
  font-size: 20px;
  font-weight: $medium;
  display: inline;
  padding-left: 30px;
}

.search a {
  font-size: 20px;
  font-weight: 400;
  color: $color-dark-grey;
  padding-left: 20px;
  cursor: pointer;

}

.search a:hover{
  color: $color-green;
  font-weight: 500;
}

.search a:active{
  color: $color-green;
  font-weight: 500;
}
